html {
	-webkit-text-size-adjust: none;
	/*解决chrome浏览器下字体不能小于12px*/
}

body {
	color: #000000;
	font-family: PingFangSC, Verdana, Arial, Helvetica, sans-serif;
}

br {
	display: none;
}

* {}

a {
	outline: none;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

html {
	zoom: 1;
}

html * {
	outline: 0;
	zoom: 1;
}

html button::-moz-focus-inner {
	border-color: transparent !important;
}

body {
	overflow-x: hidden;
	font-size: 12px;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

table {
	/*border-collapse:collapse;border-spacing:0;*/
}

fieldset,
a img {
	border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
	font-style: normal;
	font-weight: normal;
}

li {
	list-style: none;
}

caption,
th {
	text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before,
q:after {
	content: '';
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	-webkit-appearance: none;
	/*去掉苹果的默认UI来渲染按钮*/
}

em,
i {
	font-style: normal;
}

/*Public Class*/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: block;
}

.clear {
	clear: both;
}

/* 清除浮动*/
.colwrapper {
	overflow: hidden;
	zoom: 1
		/*for ie*/
	;
	margin: 5px auto;
}

/* 高度自适应 */
.strong {
	font-weight: bold;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.show {
	display: block;
	visibility: visible;
}

.hide {
	display: none;
	visibility: hidden;
}

.block {
	display: block;
}

.inline {
	display: inline;
}

.transparent {
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	/** Firefox 3.5即将原生支持opacity属性，所以本条属性只在Firefox3以下版本有效 ***/
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.break {
	word-wrap: break-word;
	overflow: hidden;
	/*word-break:break-all;*/
}

.tal {
	text-align: left
}

.tar {
	text-align: right;
}

/*文字两侧对齐*/
.justify {
	text-align: justify;
	text-justify: distribute-all-lines;
	/*ie6-8*/
	text-align-last: justify;
	/* ie9*/
	-moz-text-align-last: justify;
	/*ff*/
	-webkit-text-align-last: justify;
	/*chrome 20+*/
}

.toe {
	/*超出省略号*/
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

	/* chrome*/
	.justify:after {
		content: ".";
		display: inline-block;
		width: 100%;
		overflow: hidden;
		height: 0;
	}
}

/* 兼容IE6的定位属性fixed，固定不动样式 */
.fixed {
	position: fixed;
	clip: rect(0 100% 100% 0);
	_position: absolute;

	/* 底部 */
	bottom: 0px;
	left: 0px;
	/* _top: expression(document.documentElement.scrollTop+document.documentElement.clientHeight-this.clientHeight); */
	/*_left:expression(document.documentElement.scrollLeft + document.documentElement.clientWidth - offsetWidth);*/

	/* 左侧 */
	/*left:0px;*/
	/*_top:expression(document.documentElement.scrollTop+document.documentElement.clientHeight-this.clientHeight);*/
	/*_left:expression(document.documentElement.scrollLeft + document.documentElement.clientWidth - offsetWidth);*/
}

/* 解决固定层在IE6下闪的问题 */
*html {
	background-image: url(about:blank);
	background-attachment: fixed;
}

/**************************************/

/*png图片ie6下透明滤镜实现写法*/
/*.pngimg{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='images/x.png');}*/

/**
 +------------------------------------------------------------------------------
 * FCK 兼容解决方案
 +------------------------------------------------------------------------------
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
em {
	font-style: italic !important;
}

strike {
	text-decoration: line-through !important;
}

strong {
	font-size: 16px !important;
	line-height: 28px !important;
}

u {
	text-decoration: underline !important;
}


/**
 +------------------------------------------------------------------------------
 * 网站整体颜色总汇
 +------------------------------------------------------------------------------
 * @codex  颜色:使用颜色的名称或者16进制代码,如 
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
.ff8600,
ff86aa a {
	color: #ff8600;
}

/**
 +------------------------------------------------------------------------------
 * 网站整字体大小
 +------------------------------------------------------------------------------
 * @codex   字体大小,直接使用"font+字体大小"作为名称,如
 * @package  ORG
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
.font14px {
	font-size: 14px;
}

.font9pt {
	font-size: 9pt;
}

/*自定义字体*/
/* @font-face {  font-family: danley;  src: url('../font/danley.ttf');  }  .danley {  font-family: danley; } */

/**
 +------------------------------------------------------------------------------
 * 网站整布局命名规范
 +------------------------------------------------------------------------------
 * @codex   id和class命名采用该版块的英文单词或组合命名 如:newRelease
 * @package  ORG
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */


/*引入苹方字体*/

body {
	font-family: "Microsoft YaHei", sans-serif, Arial Regular;
	background-color: #eee;
	line-height: 1.5;
	/*max-width: 64rem; min-width: 32rem; */
	max-width: 750px;
	margin: 0 auto !important;
	min-width: 320px;
	position: relative;
}

a:hover {
	text-decoration: none;
}

.css3 {
	/*transition: all 0.3s ease-in-out 0s;*/
	-webkit-transform: translate3d(0, -20px, 0);
	-ms-transform: translate3d(0, -20px, 0);
	transform: translate3d(0, -20px, 0);
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, transform;
	-webkit-transition-duration: 1000ms;
	transition-duration: 1000ms;
	-webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.33, 0.98);
	transition-timing-function: cubic-bezier(0.25, 0.46, 0.33, 0.98);
	-webkit-transition-delay: 800ms;
	transition-delay: 800ms
}

.css3.animated {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

@media screen and (max-width: 650px) {}

@media screen and (max-width: 480px) {}

.rotate {
	transform: rotate(7deg);
	-ms-transform: rotate(7deg);
	/* IE 9 */
	-moz-transform: rotate(7deg);
	/* Firefox */
	-webkit-transform: rotate(7deg);
	/* Safari 和 Chrome */
	-o-transform: rotate(7deg);
	/* Opera */
}

/* -webkit-text-size-adjust:none; */
/*禁止苹果对部分字体放大处理bug*/

a:hover {
	text-decoration: none;
}




.layout {
	min-height: 736px;
	background: #FAFAFA;
	margin: 0 auto;
	overflow: hidden;
}

.content {
	position: relative;
	overflow: hidden;
	background-color: #FFFFFF;
}

.article-title {
	padding: 0 16px;
	font-weight: bold;
	color: #2b2b2b;
	font-size: 22px;
	line-height: 30px;
	margin-top: 24px;
	letter-spacing: 1px;
	text-align: justify;
}

.wei-info {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}

.wei-info>img {
	width: 2px;
	height: 12px;
	margin-right: 8px;
}

.wei-info>.author {
	font-family: PingFangSC-medium;
	letter-spacing: 0.6px;
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	margin-right: 8px;
}

.wei-info>.time {
	font-family: PingFangSC-regular;
	letter-spacing: 0px;
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
	color: #A1A1A1;
}

.info {
	margin-top: 24px;
	display: inline-block;
	width: 100%;
	padding: 0 16px;
}

.info>img {
	width: 2px;
	height: 12px;
	margin-right: 8px;
}

.info>.author {
	font-family: PingFangSC-medium;
	letter-spacing: 0.6px;
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	margin-right: 8px;
}

.info>.time {
	font-family: PingFangSC-regular;
	letter-spacing: 0px;
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
	color: #A1A1A1;
}

.info h3 {
	font-size: 18px;
	margin-bottom: 5px;
	margin-top: -5px;

}

.info p {
	font-size: 16px;
	margin-bottom: 10px;
	color: #A0A0A0;
}

.info a {
	display: flex;
	align-items: center;
}

.info-img {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	box-shadow: 0px 2px 8px 0px rgba(153, 153, 153, 0.24);
	margin-right: 14px;
}

.info-content {
	display: flex;
	flex-direction: column;
}

.info-content .info-title {
	color: #222222;
	height: 20px;
	font-size: 14px;
	font-weight: bold;
	font-family: PingFangSC-medium;

}

.info-content .info-summary {
	color: #A1A1A1;
	font-size: 10px;
	height: 20px;
	font-size: 12px;
	font-family: PingFangSC-regular;
}

.info-content .info-hotcount {
	width: 100%;
	display: inline-block;
	color: #A0A0A0;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
}

.pic .info {
	margin-bottom: 15px;
}

.pic .info h3 {
	margin-top: 5px;
}

.pic .info-title,
.pic .info-summary,
.pic h3,
.pic p {
	color: #fff;
}

.article-img {
	width: 100%;
	height: 300px;
	background: linear-gradient(135deg, rgba(90, 203, 255, 1) 0%, rgba(69, 153, 255, 1) 100%);
	border-radius: 4px;
	opacity: 0.3;
	filter: blur(50px);
}

.article-img .a-img {
	display: block;
	width: 40%;
	height: 200px;
	margin: 0 auto;
	margin-top: 50px;
	background: url('http://static.scms.sztv.com.cn/spider/ysz/upload/image/2019/07/25/3792d10e15d9479a9c18bcd473002235.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.article-content {
	padding: 0 16px;
	margin-bottom: 28px;
	text-align: justify;
}

.article-content .author {
	color: #7F7F81;
	margin-top: 10px;
	font-size: 12px;
	line-height: 17px;
	font-weight: 500;
}

.article-content .bq {
	margin-top: 10px;
	color: #7F7F81;
	font-size: 12px;
	font-weight: 500;
	line-height: 17px;
}

.article-content .bottomInfo{
	color: #7F7F81;
	margin-top: 10px;
	font-size: 12px;
	line-height: 17px;
	font-weight: 500;
	white-space: pre-line;
}

.tabbar {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	margin-top: 20px;
	padding: 0 20px;
}

.tabbar span {
	height: 40px;
	padding: 0 12px;
	border-radius: 4px;
	background-color: #F0F4F5;
	margin-right: 14px;
	margin-bottom: 14px;
	text-align: center;
	line-height: 40px;
	font-size: 15px;
	font-family: "PingFangSC-Regular";
	color: #2B2B2F;
}


#editWrap {
	margin-top: 36px !important;
	letter-spacing: 0.3px !important;
	font-size: 16px !important;
	margin-bottom: 28px !important;
}

#editWrap div {
	max-width: 100% !important;
}

#editWrap article img {
	margin-bottom: 28px;
}

#editWrap>#editWrap {
	height: auto !important;
}

#editWrap>div {
	width: 100% !important;
	margin-bottom: 28px !important;
}

#editWrap>div>section>div {
	width: 100% !important;
	margin-bottom: 28px !important;
}

#editWrap>section>div {
	width: 100% !important;
	height: 200px !important;
	margin-bottom: 28px !important;
}

#editWrap>section>section>div {
	width: 100% !important;
	height: 200px !important;
	margin-bottom: 28px !important;
}

.imagenote {
	text-align: center;
	font-size: 14px !important;
	color: #A1A1A1 !important;
	margin-bottom: 0 !important;
	transform: translateY(-32px) !important;
	letter-spacing: 0.3px !important;
	line-height: 20px !important;
	font-size: 14px !important;
	display: flex;
	justify-content: center;
}

section {
	/* margin-bottom: 28px !important; */
	font-size: 16px !important;
	line-height: 28px !important;
	color: #000000;
	word-wrap: break-word;
	font-family: PingFangSC-regular;
	text-align: justify !important
}

.article-body p {
	font-size: 16px;
	line-height: 28px !important;
	color: #000000;
	word-wrap: break-word;
	margin-bottom: 28px;
	font-family: PingFangSC-regular;
	text-align: justify !important;
}

.article-body img {
	border-radius: 4px !important;
	max-width: 100% !important;
}

.introduce .article-body p {
	font-size: 18px !important;
	font-weight: 500;
	color: #424246;
	line-height: 25px !important;
}

.article-body video {
	width: 100%;
	max-height: 100% !important;
	margin-bottom: 20px;
	border-radius: 4px !important;
}

.article-body table {
	transform: translateX(-30px);
	width: calc(100% + 60px) !important;
}

.zan-box {
	margin-bottom: 15px;
}

.zan-btn {
	width: 100px;
	height: 36px;
	/*background:#CB1362;*/
	/*box-shadow:0px 1px 2px 0px rgba(0,0,0,0.08);*/
	border-radius: 4px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	margin-top: 20px;
	margin-bottom: 10px;
	border: 1px solid rgba(228, 228, 228, 1);
}

.zan-btn .zan-img {
	margin-right: 5px;
	width: 15px;
}

.zan-btn .zan-num {
	font-size: 13px;
	line-height: 18px;
	color: #363636;
}

.zan-box .zan-summary {
	color: #7F7F81;
	text-align: center;
	font-size: 13px;
	line-height: 18px;
	font-weight: 500;
}

.box-title {
	font-size: 18px;
	font-weight: bold;
	display: flex;
	align-items: center;
	border-top: 8px solid #eee;
	padding-top: 28px;
	padding-left: 16px;
	padding-bottom: 28px;
	color: #2B2B2F;
	line-height: 28px;
}

.box-title img {
	width: 2px;
	height: 16px;
	margin-right: 8px;
}

/* .box-title span {
	display: inline-block;
	width: 4px;
	height: 22px;
	background: #CB1362;
	margin-top: 2px;
	margin: 0 10px;
	display: none;
} */

.box-content {
	overflow: hidden;
}

.box-content .news-list {
	width: 100%;
	float: left;
	padding: 0;
	box-sizing: border-box;
}

.news-view {
	width: 100%;
	height: 68px;
	margin-bottom: 28px;
}

.news-img {
	float: right;
	margin-right: 18px;
}

.news-img a {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.news-view .news-img img {
	width: 96px;
	height: 68px;
	float: right;
	border-radius: 4px;
}

.news-view .news-img .news-bg {
	width: 100%;
	height: 22px;
	background: rgba(0, 0, 0, .3);
	position: absolute;
	bottom: 5px;
	left: 0;
}

.news-view .news-img .news-icon {
	width: 13px;
	height: 13px;
	display: block;
	background: url('../img/v-audio.png') no-repeat;
	background-size: 100% 100%;
	position: absolute;
	bottom: 10px;
	left: 8px;
	z-index: 100;
}

.news-view .news-img .news-audio-num {
	display: block;
	position: absolute;
	bottom: 10%;
	left: 25%;
	color: #fafafa;
	font-size: 10px;
	line-height: 14px;
	z-index: 100;
}

.news-view .news-img .news-play {
	width: 26px;
	height: 26px;
	display: block;
	background: url('../img/play.png') no-repeat;
	background-size: 100% 100%;
	position: absolute;
}

.news-view .news-img .news-time {
	position: absolute;
	bottom: 0px;
	right: 0px;
	display: block;
	padding: 1px 2px;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	border-radius: 4px;
	font-size: 10px;
	line-height: 14px;
}

.news-view .news-header {
	width: 62%;
	float: left;
}

.news-view .news-header a {
	font-size: 16px;
	color: #000000;
	line-height: 25px;
	margin-left: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	letter-spacing: 0.3px;
	line-height: 22px;
}

.news-from {
	float: left;
	margin: 10px 0 0 18px;
	color: #a6a6a6 !important;
	font-size: 11px;
	line-height: 16px;
	background-color: #FFFFFF;
}

.header {
	position: relative;
	width: 100%;
	height: 56px;
	z-index: 888;
	max-width: 750px;
	margin: 0 auto;
	box-shadow: 0 2px 6px 0px rgb(234 234 234 / 40%);
}

.hide {
	display: none;
}

.header .header-inner {
	position: fixed;
	top: 0;
	width: 100%;
	/* background: url(../../public_2019/img/logo-bg.png); */
	max-width: 750px;
	background-size: 100% 100%;
}

.header-container {
	/*background:url('../img/logo-bg.png');*/
	/*background-size: 100% 100%;*/
	transform: none;
}

.header-container section {
	width: 100%;
}

.header-container section aside {
	position: relative;
	padding: 0px 5px 0px 50px;
	height: 56px;
	text-decoration: none;
	color: rgb(255, 255, 255);
	background: #fff;
	box-shadow: 0 2px 6px 0px rgb(234 234 234 / 40%);
}

.header-container section aside img {
	position: absolute;
	top: 14px;
	left: 16px;
	width: 28px;
	border-radius: 4px;
}

.header-container section aside .aside-title {
	position: absolute;
	top: 18px;
	left: 52px;
	color: rgba(16, 16, 16, 100);
	font-size: 14px;
	line-height: 21px;
	font-family: PingFangSC-medium;
}

/* .header-container section aside .aside-intro {
	margin: 0px;
	font-size: 12px;
	line-height: 16px;
	opacity: 0.6;
	padding: 18px 10px 0px;
	color: #2B2B2F;
	display: inline-block;
	float: left;
} */

.header-container section aside a.open {
	position: absolute;
	top: 14px;
	right: 16px;
	z-index: 9;
	width: 64px;
	height: 28px;
	border-radius: 5px;
	background-color: #F51869;
	font-size: 14px;
	text-align: center;
	line-height: 28px;
	color: #FFFFFF;
	font-family: PingFangSC-regular;
}

.hot_comment {
	overflow: hidden;
}

.no_comment {
	text-align: center;
}

.new_comment_list {
	margin-bottom: 80px;
}

.no_comment img {
	width: 138px;
	height: 94px;
}

.no_comment span {
	font-size: 14px;
	line-height: 18px;
	color: #808080;
	display: inline-block;
	width: 100%;
	font-weight: 500px;
}

.comment_more {
	margin: 10px 12.5% 30px 12.5%;
	width: 75%;
	/*background: #CB1362;*/
	height: 43px;
	line-height: 43px;
	text-align: center;
	color: #E11E64;
	float: left;
	border-radius: 5px;
	font-size: 16px;
	border: 1px solid #E11E64;
}

.hot_list {
	width: 95%;
	padding-left: 13px;
	overflow: hidden;
}

.hot_head {
	width: 100%;
	float: left;
	margin-bottom: 28px;
}

.hot_right {
	display: block;
	overflow: hidden;
}

.hot_left {
	display: block;
	overflow: hidden;
	float: left;
	margin-right: 10px;
}

.hot_img {
	width: 28px;
	height: 28px;
	float: left;
	border-radius: 30px;
}

.hot_top {
	width: 100%;
	overflow: hidden;
}

.hot_title {
	font-size: 14px;
	font-family: PingFangSC-medium;
	float: left;
	color: #101010;
}

.hot_zan {
	float: right;
	color: #666666;
	font-size: 14px;
}

.hot_content {
	width: 100%;
	line-height: 22px;
	font-size: 16px;
	letter-spacing: 0.3px;
	color: #000000;
	float: left;
	margin-top: 12px;
	font-family: PingFangSC-regular;

}

.hot_zan i {
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url('../img/hot_zan.png');
	margin-left: 5px;
}

.hot_time {
	color: #8E8C8D;
	width: 100%;
	font-size: 12px;
	float: left;
	line-height: 14px;
	font-family: PingFangSC-regular;
}

#send_comment {
	width: 100%;
	max-width: 750px;
	height: 52px;
	padding: 10px 0;
	background: #FFFFFF;
	position: fixed;
	bottom: 0;
	z-index: 1001;
	border-top: 1px solid #eee;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#send_comment input {
	width: calc(100% - 40px);
	border-left: 0;
	font-size: 14px;
	margin-left: 16px;
	padding-left: 27px;
	border-radius: 16px;
	color: #7B7B7B;
	height: 32px;
	border: 1px solid #eee;
	-webkit-appearance: none;
	background: #f2f2f2;
	-webkit-user-select: auto;
	-moz-user-select: auto;
}

#send_comment input::-webkit-input-placeholder {
	color: #999
}

#send_comment input::-moz-placeholder {
	color: #999
}

#send_comment input:-moz-placeholder {
	color: #999
}

#send_comment input:-ms-input-placeholder {
	color: #999
}

#send_comment a,
#send_comment label {
	margin-left: 3%;
}

#send_comment img {
	width: 24px;
	height: 24px;
	margin: 0 16px;
}

/*微直播*/
.zy_media {
	width: 100%;
}

.zy_media video {
	width: 100%;
	height: 16rem;
}

#livetab {
	width: 100%;
	height: 4rem;
}

#livetab li {
	width: 33.3%;
	height: 100%;
	line-height: 4rem;
	text-align: center;
	float: left;
	font-size: 18px;
	color: #999999;
	font-weight: 500;
	cursor: pointer;
}

#livetab li a {
	padding: 10px;
}

.selected {
	font-weight: bold !important;
	color: #BB0052 !important;
	border-bottom: 4px solid #BB0052;
}

.liveul {
	padding: 0 18px;
	overflow: hidden;
	margin-top: 15px;
}

.liveul li {
	margin: 5px 0 10px 0;
}

.liveul .time {
	list-style: disc;
	font-weight: bold;
	font-size: 12px;
	;
	color: #666666;
	line-height: 17px;
}

.liveul .time span {
	display: inline-block;
	width: 4px;
	height: 4px;
	background: #666666;
	border-radius: 2px;
	margin-bottom: 2px;
	margin-right: 5px;
}

.liveul .article {
	color: #424246;
	font-size: 18px;
	line-height: 25px;
	margin: 5px 0;
	font-weight: 500;
}

.liveul .img {
	background: #ffffff;
	width: 100%;
	margin: 0;
	color: #383838;
}

.my-gallery {
	overflow: hidden;
}

.my-gallery video {
	width: 100%;
	height: 20ren;
}

.my-gallery img {
	width: 176px;
	height: 99px;
	float: left;
	display: inline;
}

.liveul li .img figure {
	width: 98%;
	float: left;
	display: inline;
	margin: 1%;
}

.liveul li .img figure img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.liveul li .img figure.two_img,
.liveul li .img figure.four_img {
	width: 47%;
	margin: 1%;
}

.liveul li .img .two_img img,
.liveul li .img .four_img img {
	width: 100%;
	height: 10rem;
	float: left;
	display: inline;
	border-radius: 8px;
}

.liveul li .img figure.three_img,
.liveul li .img figure.more_img {
	width: 31%;
	margin: 1%;
}

.liveul li .img .three_img img,
.liveul li .img .more_img img {
	width: 100%;
	height: 8rem;
	float: left;
	display: inline;
}

.drop_down {
	line-height: 80px;
	text-align: center;
	font-size: 16px;
	color: #999999;
	cursor: pointer;
}

/*聊天室*/
.comment {
	background: #f4f4f4;
	min-height: 450px;
}

.commentUl {
	padding: 0 18px;
	overflow: hidden;
}

.commentUl li {
	width: 100%;
	overflow: hidden;
	margin: 20px 0 10px 0;
}

.commentUl .icon {
	width: 40px;
	float: left;
	margin-top: 10px;
}

.commentUl .icon img {
	width: 40px;
	height: 40px;
	border-radius: 20px;
}

.commentUl .con {
	width: 60%;
	float: left;
	margin-left: 10px;
}

.commentUl .con .con-name {
	color: #666666;
	font-size: 12px;
}

.commentUl .con .con-comment {
	width: auto;
	display: inline-block;
	padding: 10px;
	border-radius: 6px;
	position: relative;
	background: #fff;
	position: relative;
	color: #191919;
	font-size: 14px;
}

.comment-left .con .con-comment em {
	position: absolute;
	display: block;
	width: 5px;
	height: 9px;
	background: url('../img/icon-w.png');
	top: 10px;
	left: -5px;
}

.comment-right .icon {
	float: right;
	text-align: right;
}

.comment-right .con {
	float: right;
	text-align: right;
	margin-right: 10px;
}

.comment-right .con .con-comment {
	background: #95ec69;
}

.comment-right .con .con-comment em {
	position: absolute;
	display: block;
	width: 5px;
	height: 9px;
	background: url('../img/icon-b.png');
	top: 10px;
	right: -5px;
}

/*图片*/

.hdp-box {
	position: relative;
	margin-bottom: 20px;
}

.swipe {
	padding-top: 0px;
	width: 100%;
	float: left;
	overflow: hidden;
	visibility: visible;
	position: relative;
}

.box01_list {
	position: relative;
	-webkit-transition: left 600ms ease-out;
	width: 100%;
	left: 0;
}

.piclist li {
	text-align: center;
	height: 460px !important;
	float: none !important;
	vertical-align: middle !important;
}

.piclist li img {
	margin: 0 auto;
	max-width: 100%;
	max-height: 480px;
}

.piclist p {
	display: none;
	height: auto !important;
}

.title {
	width: 100%;
	float: left;
	text-indent: 2em;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	font-family: "微软雅黑";
}

.count {
	float: left;
	padding-left: 2%;
	color: #fff;
	margin: 10px 0 0 10px;
}

.count .bi {
	font-size: 18px;
}

.news_title {
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 16px;
	line-height: 25px;
	padding: 5px 0;
	font-family: "微软雅黑";
}

.audio-box {
	margin-top: 10px;
	margin-bottom: 15px;
}



html {
	font-size: 62.5%
}

@media only screen and (max-width:321px) {

	/*iphone5*/
	html {
		font-size: 62.5% !important
	}

	.hot_img {
		margin-left: 0px;
	}
}

@media only screen and (min-width:361px) {

	/*三星note*/
	html {
		font-size: 70.31% !important
	}

}

@media only screen and (min-width:376px) {

	/*iphone6*/
	html {
		font-size: 73.24% !important
	}

}

@media only screen and (min-width:481px) {
	html {
		font-size: 94% !important
	}
}

@media only screen and (min-width:561px) {
	html {
		font-size: 109% !important
	}
}

@media only screen and (min-width:641px) {
	html {
		font-size: 125% !important
	}

	.news-view {
		/*height: 130px;*/
		height: 110px;
	}

	.news-view .news-img img {
		/*height: 120px;*/
		height: 80px;
	}
}

.zwf {
	display: none;
}

.cmc-m-expand .expand-cover {
	background-color: #000000 !important;
}

.cmc-m-timepanel span {
	background: none !important;
	color: #fff !important;
	font-size: 12px !important;
}

.cmc-m-main {
	background-color: #000000 !important;
	border-radius: 4px !important;
}

.cmc-m-main .simple-btn {
	font-size: 12px !important;
	color: #fff !important;
	line-height: 12px !important;
}

.hslide {
	position: relative;
	overflow: hidden;
	/* height:271px; */
}

.hslide li.slide img {
	display: block;
	width: 100%;
	/* height:271px; */
}

.hslide li.slide {
	position: relative;
}

.hslide li.slide em {
	display: block;
	height: 45px;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
}

.container-open {
	text-align: center;
    background-size: 27rem 3rem;
    color: #E62E6B;
	margin-top: 1.5rem;
    border: 1px solid #F51869;
    position: absolute;
    right: 0;
    margin-right: 1.1rem;
	border-radius:0.8rem;
}

.container-open span{
	margin: 12px 14px 12px 13px;
    /* width: 240px; */
    display: block;
    height: 1.8rem;
    font-size: 1.25rem;
    font-family: PingFangSC-Medium,sans-serif;
    font-weight: 500 !IMPORTANT;
    color: #E62E6B;
    line-height: 1.8rem;
}

.container-open span::before{
	content: '';
    width: 0;
    height: 0;
    border: 10px solid;
    position: absolute;
    top: -20px;
    left: 24.1rem;
    border-color: transparent transparent #F51869;
}

.container-open span::after{
	content: '';
    width: 0;
    height: 0;
    border: 10px solid;
    position: absolute;
    top: -19px;
    left: 24.1rem;
    border-color: transparent transparent #edf2f9;
}

.share-mask {
	position: fixed;
	width: 100%;
	height: 100%;
	background: url(../img/download_bg.png) no-repeat center center/cover;
	/* top: 0; */
	/* right: 0; */
	z-index: 1200;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 750px;
}

.container-logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 57%;
}

.share-mask .logo {
	height: 4.5rem;
	border: 0;
}

.share-mask .day {
	height: 2rem;
	padding-top: 0.4rem;
}

#download {
	background: linear-gradient(to right,#FF6780,#F51862);
    width: 30.7rem;
    text-align: center;
    height: 4rem;
    background-size: 30.7rem 4rem;
    color: #FFFFFF;
    line-height: 4.1rem;
    font-size: 1.6rem;
    position: absolute;
    bottom: 10%;
    z-index: 9;
    font-weight: 500;
    letter-spacing: 0.2px;
    border-radius: 0.8rem;
    font-family: PingFangSC-Medium,sans-serif;
}

.share-mask .botbg {
	position: absolute;
	bottom: 0;
	/* left: 0; */
	width: 97%;
	display: block;
}

.expand-cover .expand-cover-img {
	transform: none;
	width: auto !important;
}

.backButton {
	position: fixed;
	right: 1rem;
	bottom: 5rem;
	display: none;
}

.backButton img {
	width: 6rem;
}

.video-box {
	padding: 0 16px;
	margin-bottom: 28px;
	display: block !important;
}

.video-box div:nth-child(1) {
	width: 100%;
}

.video-box .cmc-m-main {
	transform: none;
	width: auto !important;
	border-radius: 10px;
}

.cmc-m-audiocontrol .audio-left .audio-cover {
	width: 60px !important;
	height: 60px !important;
	border-radius: 50%;
	transform: none;
}

.cmc-m-expand .expand-cover .expand-cover-img {
	height: 100% !important;
}

section>p>.rich_pages {
	margin-bottom: 0px !important;
}

#editWrap>img {
	margin-bottom: 18px;
}

.video-box #editWrap {
	margin-top: 0px !important;
}

.video-box .info {
	margin-top: 0px;
}

p>span {
	font-size: inherit !important;
	color: #000 !important;
}